@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", nameof(HomeController.Details), new { Id = restaurant.Id })
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

@Html.ActionLink("Add", nameof(HomeController.Create))

@section header {
    <h3>@Model.Message</h3>
}

@section footer {
    <h5>All rights reserved</h5>
}
