<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        @await Component.InvokeAsync("LoginLogout")
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        @await Component.InvokeAsync("Greeting")
    </footer>
</body>
</html>
