<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @RenderSection("header", required: false)
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <h5>All rights reserved &copy; @DateTime.Now.Year</h5>
    </footer>
</body>
</html>
